/Documents/NetBeansProjects/Hilos/nbproject/private/
/Documents/NetBeansProjects/Hilos/build/
/Documents/NetBeansProjects/Hilossolucion/nbproject/private/
/Documents/NetBeansProjects/Hilossolucion/build/
/Documents/NetBeansProjects/proceso/nbproject/private/
/Documents/NetBeansProjects/proceso/build/